.container {
  position: relative;
  height: 100%;
}

.depth_slider_container {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
}

.legend_container {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 200px;
}

.loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}